*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    
}

body{
    /* min-height: 100vh; */
    background-color: #F4DFC8;

}
/* navigation bar */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 5rem 0.5rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffff;
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #F4EAE0, transparent);
    transition: 5s;
}

.header:hover::after{
    left: 100%;
}

.logo{
  
    height: 3rem; /* Adjust the height as needed */
}

.navbar a{
    font-size: 1.15rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    display: none;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F4EAE0;
    padding: 0rem 2rem;
    max-width: 80rem;
    margin: 0 auto;

}

.text-div {
    flex: 1;
    padding: 15rem 5rem 0rem 5rem;
    /* margin: 10rem 0rem 0rem 0rem; */
    /* background-color: #f4f4f4; */
    font-size: 2rem;
}
.expand-button {
    padding: 1rem 3.5rem;
    background-color: #F4DFC8;
    color: #000000;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    /* border: #000000; */
}

.expand-button:hover {
    background-color: #F4EAE0;
}


.image-div {
    flex: 1;
    /* background-color: #e0e0e0; */
    text-align: center;
    padding: 3rem 0rem 6rem 0rem;
}

.image-div img {
    max-width: 100%;
    height: auto;
   
}
.about-container h2{
    text-align: center;
    padding: 0rem 0rem 4rem 0rem;
}
.about-container{
    padding: 0rem 2rem;
    max-width: 80rem;
    min-height: 20rem;
    margin: 0 auto;
    background-color: #F4EAE0;
}

/* Skills */
.skills-container {
    padding: 0rem 2rem;
    max-width: 80rem;
    min-height: 20rem;
    margin: 0 auto;
    background-color: #F4EAE0;
    border-radius: 8px;  
    
}
.skills-container h2{
    text-align: center;
    padding: 0rem 0rem 4rem 0rem;
}

.skills-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.skills{

    width:20%;
    /* background: white; */
    border: 1px solid #000;
    margin-bottom: 50px;
    transition: 0.3s;   
    text-align: center;
}


/* Projects */
.project-container{
    padding: 0rem 2rem;
    max-width: 80rem;
    min-height: 20rem;
    margin: 0 auto;
    background-color: #F4EAE0;
    border-radius: 8px;  
}

.project-container h2 {
    text-align: center;
    padding: 0rem 0rem 4rem 0rem;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card{
    width:20%;
    background: white;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}
.card-header{
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #F4EAE0, #F4DFC8);
    color: #000000;
}
.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 12px;
}

.btn{
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #000000, #F4DFC8);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}

/* Breakpoint */

@media(max-width: 992px){
    .header{
        padding: 0.5rem 4rem 0.5rem 4rem;
    }

}
@media(max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #ffffff;
        overflow: hidden;
        transition: .3s ease;
    
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0); 
        opacity: 1;
        transition-delay: calc(.15s * var(--i)); 
    }

    .container {
        flex-direction: column;
    }
    .expand-button {
        padding: 1rem 12rem 1rem 12rem;
    }

    
    .project-container{
        width: 100%;
    }
    .card{
        width: 80%;
        
    }

    .skills{
        width: 80%;
    }

} 

@media(max-width: 530px){
    .expand-button {
        padding: 1rem 4rem 1rem 4rem;
    }

    .text-div {
        
        font-size: 0.74rem;
    }

}
